<div class="container">
    <form [formGroup]="empForm">
    <legend>
        Update Smartphone
    </legend>

    <div class="row"><div class="col-25">
        <label for="name">Tên SP</label>
    </div>
    <div class="col-75"><input id="name" type="text" name="name" ngModel formControlName="name"></div></div>
    
    <div class="row"><div class="col-25">
        <label for="owner">Người Sở Hữu</label>
    </div>
    <div class="col-75"><input id="owner" type="text" name="owner"  ngModel formControlName="owner"></div></div>
    
    <div class="row"><div class="col-25">
        <label for="linkimg">Ảnh</label>
    </div>
    <div class="col-75"><input id="linkimg" type="text" name="linkimg" ngModel formControlName="linkimg"></div></div>
    
    <div class="row"><div class="col-25">
        <label for="contact">Liên Hệ</label>
    </div>
    <div class="col-75"><input id="contact" type="number" name="contact" ngModel formControlName="contact"></div></div>
   
    <div class="row"><div class="col-25">
        <label for="amount">Giá</label>
    </div>
    <div class="col-75"><input id="amount" type="number" name="amount" ngModel formControlName="amount"></div></div>
    

    <div class="row"><button type="submit" (click)="onUpdateSmartphone()">CẬP NHẬT</button></div>
    
</form>
</div>
